@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-rotate {
  animation: border-rotate 8s linear infinite;
  opacity: 0.5;
  filter: blur(8px);
}